@{
    ViewBag.Title = "GetinputPage";
}


@model string

<!DOCTYPE html>

<head>

    <script src="~/Scripts/jsReword.js"></script>
</head>

<body>
    <div>

            <label for="inputWords">Please input a sentence: </label>
            <input type="text" name="inputWords" id="inputWords" value=""/>
            <input type="button" value="submit" onclick="reword()"> </input>

    </div>

    </bod>