@{
    ViewBag.Title = "staticblock";
}

<!DOCTYPE html>

    <link href="~/content2/css/static.css" rel="stylesheet" />

  <article> &lt;My Article&gt;
  <section>&lt;Section One&gt;</section>
  <section id="sec2">&lt;Section Two&gt;</section>
  </article>
  <aside>&lt;Aside&gt;</aside>
  <footer>&lt;Footer&gt;</footer>
      